<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lylbp.college.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lylbp.college.entity.Admin">
        <id column="user_id" property="userId"/>
        <result column="phone" property="phone"/>
        <result column="user_name" property="userName"/>
        <result column="pwd" property="pwd"/>
        <result column="gender" property="gender"/>
        <result column="account_status" property="accountStatus"/>
        <result column="is_valid" property="isValid"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <update id="updateIsValidByUserIds">
        UPDATE admin SET is_valid = #{isValid}
        WHERE user_id IN
        <if test="userIdList != null">
            <foreach collection="userIdList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </update>

    <select id="queryByLoginName" resultType="com.lylbp.college.VO.Security.SecurityUserVO">
        SELECT
        t.user_id as userId,
        t.phone as account,
        t.pwd as pwd,
        t.account_status as isEnabled
        FROM admin t
        <where>
            t.is_valid = 1
            <if test="loginName != null and loginName != ''">
                AND t.phone = #{loginName}
            </if>
        </where>
    </select>

    <select id="queryByParams" resultType="com.lylbp.college.VO.AdminVO">
        SELECT
        t.user_id,
        t.user_name,
        t.phone,
        t.gender,
        t.account_status,
        t.is_valid,
        t.create_time
        FROM admin t
        <where>
            t.is_valid = 1
            <if test="params.containsKey('userId')">
                AND t.user_id = #{params.userId}
            </if>

            <if test="params.phone != null and params.phone != ''">
                AND t.phone = #{params.phone}
            </if>

            <if test="params.phoneLike != null and params.phoneLike != ''">
                AND t.phone like CONCAT('%',#{params.phoneLike},'%')
            </if>


            <if test="params.userNameLike != null and params.userNameLike != ''">
                AND t.user_name like CONCAT('%',#{params.userNameLike},'%')
            </if>

            <if test="params.gender != null and params.gender != ''">
                AND t.gender = #{params.gender}
            </if>

            <if test="params.accountStatus != null and params.accountStatus != ''">
                AND t.account_status = #{params.accountStatus}
            </if>
        </where>
    </select>

</mapper>
