<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lylbp.college.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lylbp.college.entity.Permission">
        <id column="permission_id" property="permissionId" />
        <result column="permission_name" property="permissionName" />
        <result column="permission_url" property="permissionUrl" />
        <result column="is_valid" property="isValid" />
    </resultMap>

    <resultMap id="PermissionVOMap" type="com.lylbp.college.VO.PermissionVO" extends="BaseResultMap"></resultMap>

    <select id="queryByParams" resultType="com.lylbp.college.VO.PermissionVO">
        SELECT
        t.permission_id,
        t.permission_name,
        t.permission_url,
        t.is_valid
        FROM `permission` as t
        <where>
            AND t.is_valid = 1
            <if test="params.permissionNameLike != '' and params.permissionNameLike != null ">
                AND t.permission_name LIKE CONCAT('%',#{params.permissionNameLike},'%' )
            </if>

            <if test="params.permissionUrlLike != '' and params.permissionUrlLike != null ">
                AND t.permission_url LIKE CONCAT('%',#{params.permissionUrlLike},'%' )
            </if>
        </where>
    </select>
</mapper>
