<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dar.road.mapper.TbMenuPermissionMapper">
  <resultMap id="BaseResultMap" type="com.dar.road.entity.TbMenuPermission">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="menu_permission_id" jdbcType="VARCHAR" property="menuPermissionId" />
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="permission_id" jdbcType="VARCHAR" property="permissionId" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid"/>
  </resultMap>
</mapper>