<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dar.road.mapper.TbMenuMapper">
    <resultMap id="BaseResultMap" type="com.dar.road.entity.TbMenu">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="menu_id" jdbcType="VARCHAR" property="menuId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="pid" jdbcType="VARCHAR" property="pid"/>
        <result column="is_valid" jdbcType="TINYINT" property="isValid"/>
    </resultMap>

    <select id="queryByParams" resultType="com.dar.road.VO.MenuVO">
        SELECT
        t.menu_id,
        t.name,
        t.url,
        t.pid,
        t.is_valid
        FROM `tb_menu` t
        <where>
            AND t.is_valid = 1
            <if test="params.pid != '' and params.pid != null">
                AND t.pid = #{params.pid}
            </if>

            <if test="params.nameLike != '' and params.nameLike != null">
                AND t.name LIKE CONCAT('%', #{params.nameLike}, '%')
            </if>
        </where>
    </select>
</mapper>