<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dar.road.mapper.TbMenuMapper">
  <resultMap id="BaseResultMap" type="com.dar.road.entity.TbMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="menu_id" jdbcType="VARCHAR" property="menuId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
  </resultMap>
</mapper>