<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dar.road.mapper.TbMenuPermissionMapper">
    <resultMap id="BaseResultMap" type="com.dar.road.entity.TbMenuPermission">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="menu_permission_id" jdbcType="VARCHAR" property="menuPermissionId"/>
        <result column="menu_id" jdbcType="VARCHAR" property="menuId"/>
        <result column="permission_id" jdbcType="VARCHAR" property="permissionId"/>
        <result column="is_valid" jdbcType="TINYINT" property="isValid"/>
    </resultMap>

    <insert id="batchInsert">
        INSERT INTO `tb_menu_permission` (menu_permission_id,menu_id, permission_id, is_valid)
        VALUES
        <foreach collection="menuPermissionList" separator="," item="item" index="index">
            <trim prefix="(" suffix=")">
                #{item.menuPermissionId},
                #{item.menuId},
                #{item.permissionId},
                #{item.isValid}
            </trim>
        </foreach>
    </insert>

    <update id="updateIsValidByMenuId">
        UPDATE `tb_menu_permission` set is_valid = #{isValid}
        <where>
            AND menu_id = #{menuId}
        </where>
    </update>
</mapper>