<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dar.road.mapper.TbPermissionMapper">
    <resultMap id="BaseResultMap" type="com.dar.road.entity.TbPermission">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="permission_id" jdbcType="VARCHAR" property="permissionId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="is_valid" jdbcType="TINYINT" property="isValid"/>
    </resultMap>

    <resultMap id="PermissionVOMap" type="com.dar.road.VO.PermissionVO" extends="BaseResultMap"></resultMap>

    <select id="queryByParams" resultType="com.dar.road.VO.PermissionVO">
        SELECT
        t.permission_id,
        t.name,
        t.url,
        t.is_valid
        FROM `tb_permission` as t
        <where>
            AND t.is_valid = 1
            <if test="params.nameLike != '' and params.nameLike != null ">
                AND t.name LIKE CONCAT('%',#{params.nameLike},'%' )
            </if>

            <if test="params.urlLike != '' and params.urlLike != null ">
                AND t.url LIKE CONCAT('%',#{params.urlLike},'%' )
            </if>
        </where>
    </select>
</mapper>