<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dar.road.mapper.TbRoleMapper">
    <resultMap id="BaseResultMap" type="com.dar.road.entity.TbRole">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="is_valid" jdbcType="TINYINT" property="isValid"/>
    </resultMap>

    <resultMap id="RoleVOMap" type="com.dar.road.VO.RoleVO" extends="BaseResultMap"></resultMap>

    <select id="queryByParams" resultType="com.dar.road.VO.RoleVO">
        SELECT
        t.role_id,
        t.role_name,
        t.is_valid
        FROM `tb_role` t
        <where>
            AND t.is_valid = 1
            <if test="params.roleNameLike != null and params.roleNameLike != ''">
                AND t.role_name like CONCAT('%',#{params.roleNameLike},'%')
            </if>

            <if test="params.roleName != null and params.roleName != ''">
                AND t.role_name = #{params.roleName}
            </if>
        </where>
    </select>
</mapper>