<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dar.road.mapper.TbUserMapper">
    <resultMap id="BaseResultMap" type="com.dar.road.entity.TbUser">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
    </resultMap>

  <resultMap id="securityUserMap" extends="BaseResultMap" type="com.dar.road.VO.Security.SecurityUserVO">
    <collection property="authorities" ofType="com.dar.road.VO.Security.SecurityRoleVO"
                select="com.dar.road.mapper.TbUserRoleMapper.queryListByUserId" column="user_id">
    </collection>
  </resultMap>

    <select id="queryByUserName" resultType="com.dar.road.VO.Security.SecurityUserVO">
      SELECT t.user_id,t.user_name,t.pwd  FROM `tb_user` t where t.user_name = #{userName}
    </select>
</mapper>