<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lylbp.college.mapper.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lylbp.college.entity.UserRole">
        <id column="user_role_id" property="userRoleId" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
        <result column="is_valid" property="isValid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_role_id, user_id, role_id, is_valid
    </sql>


    <resultMap id="QueryByParams" type="com.lylbp.college.VO.UserRoleVO" extends="BaseResultMap">
        <association property="roleVO" columnPrefix="r_"
                     resultMap="com.lylbp.college.mapper.RoleMapper.RoleVOMap"
        ></association>
    </resultMap>

    <insert id="batchInsert">
        insert into user_role (user_role_id, user_id, role_id, is_valid)
        values
        <foreach collection="userRoles" item="item" index="index" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.userRoleId},
                #{item.userId},
                #{item.roleId},
                #{item.isValid}
            </trim>
        </foreach>
    </insert>

    <update id="updateIsValidByUserId">
        UPDATE `user_role` set `is_valid` = #{isValid} WHERE `user_id` = #{userId}
    </update>

    <update id="updateIsValidByUserIdAndRoleIdList">
        UPDATE `user_role` set `is_valid` = #{isValid}
        WHERE role_id IN
        <if test="roleIdList != null">
            <foreach collection="roleIdList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        AND user_id = #{userId}
    </update>
    <update id="updateIsValidByRoleId">
         UPDATE `user_role` set `is_valid` = #{isValid} WHERE role_id = #{roleId}
    </update>

    <select id="queryListByUserId" resultType="com.lylbp.college.VO.Security.SecurityRoleVO">
        SELECT
        r.role_id,
        r.role_name,
        r.is_valid,
        r.role_description
        FROM `user_role` t
        LEFT JOIN `role` r ON r.role_id = t.role_id
        where t.user_id = #{userId} AND t.is_valid = 1
    </select>

    <select id="queryByParams" resultMap="QueryByParams">
        SELECT
        t.user_role_id,
        t.user_id,
        t.role_id,
        t.is_valid,
        r.role_id as r_role_id,
        r.role_name as r_role_name,
        r.is_valid as r_is_valid
        FROM `user_role` t
        LEFT JOIN `role` r ON r.role_id = t.role_id
        <where>
            AND t.is_valid = 1
            <if test="params.userId != '' and params.userId != null">
                AND t.user_id = #{params.userId}
            </if>

            <if test="params.roleId != '' and params.roleId != null">
                AND t.role_id = #{params.roleId}
            </if>

            <if test="params.roleNameLike != '' and params.roleNameLike != null">
                AND r.role_name LIKE CONCAT('%',#{params.roleNameLike},'%')
            </if>
        </where>
    </select>

    <select id="getUserNoAssignRoleList" resultType="com.lylbp.college.VO.RoleVO">
        SELECT
        t.role_id, t.role_name, t.is_valid
        FROM role t
        <where>
            AND t.is_valid = 1
            AND NOT EXISTS (SELECT 1 FROM user_role ur WHERE ur.role_id = t.role_id AND ur.user_id = #{userId} AND ur.is_valid = 1)
            <if test="params.roleNameLike != '' and params.roleNameLike != null">
                AND t.role_name LIKE CONCAT('%',#{params.roleNameLike},'%')
            </if>
        </where>
    </select>

    <select id="getUserHasAssignRoleList" resultType="com.lylbp.college.VO.RoleVO">
        SELECT
        t.role_id, t.role_name, t.is_valid
        FROM role t
        <where>
            AND t.is_valid = 1
            AND EXISTS (SELECT 1 FROM user_role ur WHERE ur.role_id = t.role_id AND ur.user_id = #{userId} AND ur.is_valid = 1)
            <if test="params.roleNameLike != '' and params.roleNameLike != null">
                AND t.role_name LIKE CONCAT('%',#{params.roleNameLike},'%')
            </if>
        </where>
    </select>

</mapper>
